fastapi[standard]
uvicorn
python-dotenv
supabase
python-multipart
openai
sqlalchemy
alembic
pydantic
pydantic-settings
asyncpg
psycopg2-binary
langchain[openai]
langchain_community 
langchain_openai
langchain_text_splitters
langgraph
langsmith
pypdf

